{% extends "base.html" %}

{% block content %}
    <style>
        /* CSS styles for the message text */
        #message-text {
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            margin-top: 10px;
        }
        
        #message-text.success {
            color: green;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        
        #message-text.error {
            color: red;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
        
        label[for="productServiceSelect"] {
            display: block;
            margin-bottom: 5px;
            font-size: x-small;
            color: #0d6efd;
            font-weight:bold;
        }
        .form-outline {
            font-size: small;
            font-display:inherit;
            
        }
        .form-outline .form-control~.form-label {
            color: #1266f1;
            font-weight:bold;
        }

        #input-form.disabled input:not(#pic):not(#local_spanish_seller):not(#lead-number):not(#url), #input-form.disabled select:not(#local_spanish_seller):not(#feedback-final):not(#qualification-feedback):not(#pic){
                pointer-events: none;
                background-color: #e9ecef;
        }


    </style>
  
  <!-- Start your project here-->
  <form id="input-form" method="POST" action="/">
  <div class="row" style="margin-top: 60px;">
    <div class="col-md-4 mb-2">
        <div class="row g-2">
            <div class="col">
              <div class="card">
                <div >
                  <select id="pic" name="pic" class="form-select" style="height: 41px; font-weight: bold;">
                        
                        <option value="" selected disabled>---Please select PIC first---</option>
                        <option value="Tín (ductin.nguyen@crunch.com.vn)">Tín (ductin.nguyen@crunch.com.vn)</option>
                        <option value="Hằng (thuyhang.nguyenthi@crunch.com.vn)">Hằng (thuyhang.nguyenthi@crunch.com.vn)</option>
                        <option value="Hợp (minhhop.hoxuan@crunch.com.vn)">Hợp (minhhop.hoxuan@crunch.com.vn)</option>
                        <option value="Su (chungoc.viethuynh@crunch.com.vn)">Su (chungoc.viethuynh@crunch.com.vn)</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <button id="load-domain" type="button" style="height:40px; font-size: 0.9rem; font-weight: bold;" class="btn btn-primary btn-block">
                  Load Domain 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <label for="productServiceSelect">-</label>
                    <div class="form-outline mb-4">
                        <input type="text" id="lead-number" class="form-control disabled" name="lead-number" />
                        <label class="form-label" for="form7Example3">LEAD NUMBER</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="url" class="form-control disabled" name="url"/>
                        <label class="form-label" for="form7Example3">LINK/URL</label>
                    </div>
                    <label for="productServiceSelect" >PRODUCT/SERVICE</label>
                    <select name="product-service" id="product-service" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        
                        <option value="" selected disabled>---Please select---</option>
                        <option value="Only Services">Only Services</option>
                        <option value="Only Products">Only Products</option>
                        <option value="Products & Services">Products & Services</option>
                        <option value="N/A">N/A</option>
                    </select>
                    <label for="productServiceSelect" >LOCAL SPANISH SELLER?</label>
                    <select name="local_spanish_seller" id="local_spanish_seller" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
           
                    </select>
                    
                    <div class="form-outline mb-4">
                        <input type="text" id="vat" name="vat" class="form-control" />
                        <label class="form-label" for="vat">VAT</label>
                    </div>
                    <label for="productServiceSelect" >CLUSTER</label>
                    <select name="cluster" id="cluster" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="B&H">B&H</option>
                        <option value="EL">EL</option>
                        <option value="FA">FA</option>
                        <option value="GCMB">GCMB</option>
                        <option value="GM">GM</option>
                        <option value="Other">Other</option>
                    </select>
                    <label for="productServiceSelect" >L1</label>
                    <select name="l1" id="l1" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="">--</option>
                    </select>
                    <label for="productServiceSelect" >L2</label>
                    <select name="l2" id="l2" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="">--</option>
                    </select>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                    <input type="text" id="company-name" name="company-name" class="form-control" />
                    <label class="form-label" for="company-name">COMPANY NAME</label>
                    </div>
                    <label for="productServiceSelect" >REVENUE</label>
                    <select name="revenue" id="revenue" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="1 - 250.000">1 - 250.000</option>
                        <option value="250.000 - 750.000">250.000 - 750.000</option>
                        <option value="750.000 - 1.500.000">750.000 - 1.500.000</option>
                        <option value="1.500.000 - 3.000.000">1.500.000 - 3.000.000</option>
                        <option value="3.500.000 - 50.000.000">3.500.000 - 50.000.000</option>
                        <option value="More than 50.000.000">More than 50.000.000</option>
                    </select>
                    <label for="productServiceSelect" >PRODUCT COUNT</label>
                    <select name="product-count" id="product-count" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="0 - 10">0 - 10</option>
                        <option value="11 - 1000">11 - 1000</option>
                        <option value="1.000+">1.000+</option>
                        <option value="10.000+">10.000+</option>
                        <option value="50.000+">50.000+</option>
                        <option value="100.000+">100.000+</option>
                    </select>
        
                    
                </div>
                <div class="col">
                    <label for="productServiceSelect" >PRODUCT DESCRIPTION OR AT LEAST 2 PRODUCT IMAGES</label>
                    <select name="product_desc_or_at_least_2_product_images" id="product_desc_or_at_least_2_product_images" class="form-select" style="margin-bottom: 23px;height: 36px;">
                        <option value="" selected disabled>PRODUCT DESCRIPTION OR AT LEAST 2 PRODUCT IMAGES?</option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
           
                    </select>

                    <div class="form-outline mb-4">
                        <input type="text" name="amount-of-phonenumbers" id="amount-of-phonenumbers" class="form-control disabled" />
                        <label class="form-label" for="amount-of-phonenumbers">AMOUNT OF PHONE NUMBERS?</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                    <input type="text" name="telephone" id="telephone" class="form-control" />
                    <label class="form-label" for="telephone">TELEPHONE</label>
                    </div>
        
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                    <input type="text" name="telephone1" id="telephone1" class="form-control" />
                    <label class="form-label" for="telephone1">TELEPHONE1</label>
                    </div>
        
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                    <input type="text" name="amount-of-emails" id="amount-of-emails" class="form-control disabled" />
                    <label class="form-label" for="amount-of-emails">AMOUNT OF EMAILS</label>
                    </div>
        
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                    <input type="text" name="email" id="email" class="form-control" />
                    <label class="form-label" for="email">EMAIL</label>
                    </div>
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <input type="text" name="email1" id="email1" class="form-control" />
                        <label class="form-label" for="email1">EMAIL1</label>
                    </div>
                    <label for="productServiceSelect" >FEEDBACK FINAL</label>
                    <select name="feedback-final" id="feedback-final" class="form-select" style="margin-bottom: 23px; height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="OK">OK</option>
                        <option value="NOT OK">NOT OK</option>
                        <option value="UNCERTAIN">UNCERTAIN</option>
                        <option value="MAINTENANCE WEBSITE">MAINTENANCE WEBSITE</option>
                      </select>
                    <label for="productServiceSelect" >QUALIFICATION FEEDBACK</label>
                    <select name="qualification-feedback" id="qualification-feedback" class="form-select" style="margin-bottom: 23px; height: 36px;">
                        <option value="" selected disabled>---Please select---</option>
                        <option value="UNCERTAIN - small catalogue less than 10 items">UNCERTAIN - small catalogue less than 10 items</option>
                        <option value="CATALOGUE - Images Background">CATALOGUE - Images Background</option>
                        <option value="INACTIVE PAGE - Personal website">INACTIVE PAGE - Personal website</option>
                        <option value="INACTIVE PAGE - Amazon">INACTIVE PAGE - Amazon</option>
                        <option value="INACTIVE PAGE - Maintenance">INACTIVE PAGE - Maintenance</option>
                        <option value="INACTIVE PAGE - Register to view pages">INACTIVE PAGE - Register to view pages</option>
                        <option value="WRONG CATEGORY - Personalised & Services">WRONG CATEGORY - Personalised & Services</option>
                        <option value="WRONG CATEGORY - Books">WRONG CATEGORY - Books</option>
                        <option value="WRONG CATEGORY - Sex">WRONG CATEGORY - Sex</option>
                        <option value="WRONG CATEGORY - CD & DVD">WRONG CATEGORY - CD & DVD</option>
                        <option value="WRONG CATEGORY - CBD Derivative">WRONG CATEGORY - CBD Derivative</option>
                        <option value="WRONG CATEGORY - Frozen Products">WRONG CATEGORY - Frozen Products</option>
                        <option value="WRONG CATEGORY - Spare Parts">WRONG CATEGORY - Spare Parts</option>
                        <option value="WRONG CATEGORY - Prom & Wedding">WRONG CATEGORY - Prom & Wedding</option>
                        <option value="WRONG CATEGORY - Smoking Gadgets">WRONG CATEGORY - Smoking Gadgets</option>
                        <option value="WRONG CATEGORY - Musical Instruments">WRONG CATEGORY - Musical Instruments</option>
                        <option value="WRONG CATEGORY - Hunting tools">WRONG CATEGORY - Hunting tools</option>
                        <option value="WRONG CATEGORY - Tools">WRONG CATEGORY - Tools</option>
                        <option value="WRONG CATEGORY - Software">WRONG CATEGORY - Software</option>
                        <option value="WRONG CATEGORY - Industrial Tools">WRONG CATEGORY - Industrial Tools</option>
                        <option value="WRONG CATEGORY - Cake Shop">WRONG CATEGORY - Cake Shop</option>
                        <option value="NOT APPROPRIATE - Explicit/Violent content">NOT APPROPRIATE - Explicit/Violent content</option>
                        <option value="NOT APPROPRIATE - Possible Fakes/Fraud">NOT APPROPRIATE - Possible Fakes/Fraud</option>
                        <option value="NOT EU - Language and currency not EU">NOT EU - Language and currency not EU</option>
                        <option value="N/A">N/A</option>
                      </select>
                    <div class="card" style="border: none;">
                        <button type="submit" id="save-button" style="height:40px; font-size: 0.9rem; font-weight: bold;" class="btn btn-primary btn-block">
                          Save
                        </button>
                      </div>
                </div>
                
        </div>
          
        </div>
      </div>
    </div>
  
    
  </div>
</form>
  <!-- End your project here-->

  <!-- MDB -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js')}}"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
     document.addEventListener("DOMContentLoaded", function() {
    
    var inputElements = document.querySelector("#local_spanish_seller");
    inputElements.addEventListener("change", function(event) {
        var form = document.querySelector("#input-form");
        if (event.target.value === 'N') {
            form.classList.add('disabled')
        } else {
            form.classList.remove('disabled')
        }
    });


      // Handle form submission
      var form = document.getElementById("input-form");
      form.addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting
  
        // Retrieve the selected values from the select elements
        var pic = document.getElementById("pic").value;
        var url = document.getElementById("url").value;
        var productService = document.getElementById("product-service").value;
        var localSpanishSeller = document.getElementById("local_spanish_seller").value;
        var cluster = document.getElementById("cluster").value;
        var l1 = document.getElementById("l1").value;
        var l2 = document.getElementById("l2").value;
        var productDescOrImages = document.getElementById("product_desc_or_at_least_2_product_images").value;
        var feedbackFinal = document.getElementById("feedback-final").value;
        var qualificationFeedback = document.getElementById("qualification-feedback").value;
  
        // Create an object with the form data
        var formData = {
          "pic": pic,
          "url": url,
          "productService": productService,
          "localSpanishSeller": localSpanishSeller,
          "cluster": cluster,
          "l1": l1,
          "l2": l2,
          "productDescOrImages": productDescOrImages,
          "feedbackFinal": feedbackFinal,
          "qualificationFeedback": qualificationFeedback
        };
  
        // Use the formData object as needed (e.g., send it to the server via AJAX)
  
        // Reset the form
        form.reset();
      });
  
      // Get the Save button element
      var saveButton = document.querySelector("#input-form button[type='submit']");
  
      // Add a click event listener to the Save button
      saveButton.addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default form submission
  
        // Get the form data
        var formData = new FormData(document.querySelector("#input-form"));
  
        // Check if a message element already exists and remove it if it does
        var existingMessage = document.querySelector("#message-text");
        if (existingMessage) {
          existingMessage.parentNode.removeChild(existingMessage);
        }
  
        // Create a new element to display the "Updated" or "Error" message
        var messageText = document.createElement("div");
        messageText.id = "message-text";
  
        // Send the form data to the server using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/", true); // Replace "/" with the appropriate server-side endpoint
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            var pic = document.getElementById("pic").value;
            if (xhr.status === 200) {
              // Display the "Updated" message after successful submission
              messageText.textContent = "Updated! - " + pic;
              messageText.className = "success";
            } else if (xhr.status === 500) {
              // Check if the response contains an error message for URL and PIC mismatch
              var response = JSON.parse(xhr.responseText);
              if (response.error === "URL and PIC mismatch") {
                messageText.textContent = "Error: URL and PIC already exists";
                messageText.className = "error";
              } else if (response.error === "URL already exists") {
                messageText.textContent = "Error: URL already exists";
                messageText.className = "error";
              } else if (response.error === "Missing URL or PIC") {
                messageText.textContent = "Error: Missing URL or PIC";
                messageText.className = "error";
              } else {
                messageText.textContent = "Error: An error occurred";
                messageText.className = "error";
              }
            } else {
              // Display a generic error message for other errors
              messageText.textContent = "Error: An error occurred";
              messageText.className = "error";
            }
  
            // Insert the message element after the Save button
            saveButton.parentNode.insertBefore(messageText, saveButton.nextSibling);
          }
        };
        xhr.send(formData);
      });
    });
  </script>

<script>
    // Simulate click event on the input box when data is rendered
    function simulateInputClick() {
      var inputBox_amount_emails = document.getElementById('amount-of-emails');
      inputBox_amount_emails.focus();
      var inputBox_amount_phones = document.getElementById('amount-of-phonenumbers');
      inputBox_amount_phones.focus();
      var inputBox_url = document.getElementById('url');
      inputBox_url.focus();
      var inputBox_lead_number = document.getElementById('lead-number');
      inputBox_lead_number.focus();
    }
  
    var loadDomainButton = document.getElementById('load-domain');
  
    loadDomainButton.addEventListener('click', function() {
      var picElement = document.getElementById('pic').value;
      if (picElement == '') {
        alert('Please select PIC first!');
      } else {
        // Fetch data from the server using AJAX or fetch API
        fetch('/get-domain-data')
          .then(response => response.json())
          .then(data => {
            if (data.error) {
              alert(data.error);
            } else {
              // Fill the input fields with the retrieved data
              document.getElementById('lead-number').value = data.lead_number;
              document.getElementById('url').value = data.url;
              document.getElementById('amount-of-phonenumbers').value = data.amount_phone_number;
              document.getElementById('amount-of-emails').value = data.amount_emails;
  
              // Call the updatePic function to update the pic in the database
              updatePic(data.url, picElement);
  
              // Simulate input click before disabling the input fields
              simulateInputClick();
  
              // Disable the input fields
              document.getElementById('lead-number').disabled = true;
              document.getElementById('url').disabled = true;
              document.getElementById('amount-of-phonenumbers').disabled = true;
              document.getElementById('amount-of-emails').disabled = true;
            }
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Error loading data from the server.');
          });
      }
    });
  
    var saveButton = document.getElementById('save-button');
  
    saveButton.addEventListener('click', function() {
      var picElement = document.getElementById('pic').value;
      if (picElement == '') {
        alert('Please select PIC first!');
      } else {
        // Fetch data from the server using AJAX or fetch API
        fetch('/get-domain-data')
          .then(response => response.json())
          .then(data => {
            if (data.error) {
              alert(data.error);
            } else {
              // Fill the input fields with the retrieved data
              document.getElementById('lead-number').value = data.lead_number;
              document.getElementById('url').value = data.url;
              document.getElementById('amount-of-phonenumbers').value = data.amount_phone_number;
              document.getElementById('amount-of-emails').value = data.amount_emails;
  
              // Call the updatePic function to update the pic in the database
              updatePic(data.url, picElement);
  
              // Simulate input click before disabling the input fields
              simulateInputClick();
  
              // Disable the input fields
              document.getElementById('lead-number').disabled = true;
              document.getElementById('url').disabled = true;
              document.getElementById('amount-of-phonenumbers').disabled = true;
              document.getElementById('amount-of-emails').disabled = true;
            }
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Error loading data from the server.');
          });
      }
    });
  
    function updatePic(url, pic) {
      // Create a data object with the url and pic values
      var data = { url: url, pic: pic };
  
      // Send a POST request to update the pic in the database
      fetch('/update-pic', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => {
          // Handle the response as needed
          console.log(data);
        })
        .catch(error => {
          console.error('Error:', error);
          // Show an error message or handle the error gracefully
          alert('Error updating pic in the database.');
        });
    }
  </script>
{% endblock %}
</html>